<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data-19</title>
    <link rel="stylesheet" href="static/css/master.css">
  </head>
  <body>
    <h1>Ok It Work's</h1>
  </body>
</html>
